.card{
    border-radius: 14px;
    box-shadow: 2px 2px 10px rgba(69, 69, 69, 0.441);
}

.pro{
    text-shadow: 2px 3px 2px rgba(111, 111, 111, 0.704);
}

.github:hover,
.mvp:hover{
    transform: translateX(-1px) translateY(-2px);
    filter: drop-shadow(2px 2px 8px #03fac0);
}

.img{
    box-shadow: 0 2px 3px rgba(111, 111, 111, 0.704);
}

.nam{
    width: calc(var(--chars) * 1ch);
    height: 25px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    border-right: 1px solid #03fac0;
    animation: blink 1s step-end infinite;
}

.card:hover .nam{
    animation: typing 3s steps(var(--chars)) forwards,
    blink 1s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: calc(var(--chars) * 1ch);
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
    
}