.roller{
    width: 60%;
    display: flex;
    overflow-x: auto;
    gap: 1em;
    z-index: 10;
}

.roller::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    animation: spin 20s infinite linear;
}

.d{
    flex: 0 0 24em;
    height: 24em;
    padding: 2em;
    opacity: 80%;
}

.yp{
    height: 24em;
}

.y1, .y2{
    background: #09090b;
    transform: translateY(-80px);
    height: 24em;
    width: 50px;
}

.y1{
    box-shadow: 30px 0 20px #09090b;
    z-index: 50;
    border-radius: 50%;
}

.y2{
    box-shadow: -30px 0 20px #09090b;
    z-index: 50;
    border-radius: 50%;
}

@keyframes spin {
    to{
        translate: -100%;
    }
    from{
        translate: 0;
    }
}

.xx2{
    box-shadow: 0 -20px 20px rgba(127, 127, 127, 0.39);
    z-index: 50;
    border-radius: 50%;
}
.xx1{
    box-shadow: 0 20px 20px rgba(127,127,127, 0.39);
    z-index: 50;
    border-radius: 50%;
}