.about{
    text-shadow: 2px 3px 2px rgba(111, 111, 111, 0.704);
}

.button:hover{
    transform: translateX(-1px) translateY(-2px);
    filter: drop-shadow(1px 1px 4px #00ffc3);
}

.orl{
    animation: scrolling 10s ease-in-out infinite;
}

@keyframes scrolling {
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-32px);
    }
    30%{
        transform: translateY(-32px);
    }
    40%{
        transform: translateY(-64px);
    }
    50%{
        transform: translateY(-64px);
    }
    60%{
        transform: translateY(-96px);
    }
    70%{
        transform: translateY(-96px);
    }
    80%{
        transform: translateY(-128px);
    }
    90%{
        transform: translateY(-128px);
    }
    100%{
        transform: translateY(0px);
    }
}