.exp1img:hover,
.exp2img:hover{
    transform: translateX(-1px) translateY(-2px);
    filter: drop-shadow(3px 3px 3px rgba(182, 182, 182, 0.704));
}

.laptop{
    height: 25px;
    max-width: 32rem;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
}

.blink-box{
    height: 18px;
    width: 15px;
    border-bottom: 2px solid #03fac0;
    animation: blinker 1s step-end infinite;
}

.timeline-line {
    height: 50px;
    width: 100%;
    border-left: 2px solid #03fac0;
    border-top: 2px solid #03fac0;
    z-index: 50;
}

.typing-wrap {
  max-width: 32rem;
  width: 100%;
}

.typing-wrap:hover .laptop{
    animation: typingg 3s steps(30) forwards;
}

@keyframes typingg {
  from{ 
    max-width: 0; 
  }
  to{ 
    max-width: 100%;
  }
}

@keyframes blinker {
    50%{
        border-color: transparent;
    }
    
}

@media (max-width: 768px) {
  .laptop {
    white-space: normal;
    max-width: 100%;
    height: auto;
    overflow: visible;
    display: block;
    font-size: 1rem;
  }
  .blink-box{
    display: none;
  }
  .typing-wrap:hover .laptop{
    animation: none;
  }
  .typing-wrap box-icon{
    width: 20px;
    height: 20px;
  }
  .all{
    display: none;
  }
}