@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

.header{
    box-shadow: 0 3px 50px rgba(129, 129, 129, 0.302);
}

.nav-link {
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: #03fac0;
}

.nav-link.active {
    color: #03fac0;
    transform: translateY(-2px) translateX(-1px);
    text-shadow: 2px 4px 2px rgba(132, 132, 132, 0.65);
}
